@font-face {
	font-family: "Garamond";
	font-style: normal;
	font-weight: normal;
	src: url("AGaramondPro-Regular.otf");
}
@font-face {
	font-family: "Garamond";
	font-style: italic;
	font-weight: normal;
	src: url("AGaramondPro-Italic.otf");
}
@font-face {
	font-family: "Lumos";
	font-style: normal;
	font-weight: normal;
	src: url("Lumos.otf");
}
@font-face {
	font-family: "Newspaper";
	font-style: normal;
	font-weight: normal;
	src: url("NewspaperSansC.otf");
}
@page {
	margin : 0px 0px 0px 0px; 
}
body,div,table,tr,td {
	margin:0;
	padding:0; 
	border-width:0;
}
p {
	font-family: "Garamond", serif;
	color: #000000;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 140%;
	margin: 0;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: justify;
	text-decoration: none;
	text-indent: 1.5em;
	text-transform: none;
	widows: 1;
	hyphens: auto;
}	
.center {
	text-align:center;
	text-indent:0;
}
.fullpage {
	height: 100%;
}
div.copyright {
	margin: 10% 10%;
}
div.copyright p {
	font-size: 0.8em;
	text-align: center;
	text-indent: 0;
	margin-bottom: 0.5em;
}
div.dedication {
	margin: 20% 10%;
}
div.dedication p {
	text-align: center;
	text-indent: 0;
}
span.sc {
	font-size: 0.8em;
}
p.c1 {
	text-align:center;
	text-indent:0;
	font-family: "Lumos", serif;
	font-size: 1.5em;
}
p.c2 {
	text-align:center;
	text-indent:0;
	font-family: "Lumos", serif;
	font-size: 2em;
}
p.first {
	text-indent:0;
	margin-top: 2em;	
}
p.break {
	text-indent:0;
	margin-top: 1.5em;	
}
span.drop {
  font-family:"Lumos", serif;
  font-size: 3.1em;
  font-weight: normal;
  line-height: 150%;
  height: 1em;
  float: left;
  margin: -0.17em 0em 0em 0em;
} 
div.letter {
	margin: 1em 3em;
}
div.letter p {
	text-indent: 0;
	text-align: left;
	font-style: italic;
}
div.letter p.indent {
	text-indent: 1.5em;
}
.noindent {
	text-indent: 0;
}
div.blank {
	margin: 1em 2em;
}
div.blank2 {
	margin: 1em 2em;
}
div.blank2 p {
	text-indent: 0;
	text-align: left;
}
div.blank2 p.center {
	text-indent: 0;
	text-align: center;
}
p.list-head {
	font-size: 0.8em;
	text-align: left;
	margin-top: 1em;
}
div.list {
	margin-left: 2em;
}
div.list p {
	text-indent: -1em;
	text-align: left;
}
div.list2 {
	margin-left: 8em;
}
div.list2 p {
	text-align: left;
	text-indent: -7em;
}
div.poem {
	margin: 1em 2em 1em 9em;
}
div.poem p {
	text-align: left;
	font-style: italic;
	text-indent: -7em;
}
div.poem p.stanza {
	margin-top: 1em;
}
div.paper {
	margin: 1em 2em;
}
div.paper p.center {
	font-family: "Newspaper";
	font-size: 2em;
}
div.alsoby {
	margin: 20% 10%;
}
div.alsoby p {
	text-align: center;
	text-indent: 0;
}
div.alsoby p.titles {
	font-style: italic;
	margin: 1em 0 0.5em 0;
}
